.about-page-top {
  position: relative;
}

.about-page-img {
  position: absolute;
  top: -60px;
  width: 100%;
  height: 500px;
  filter: brightness(85%);
  transform: scale(1.008);
}

.about-page-top-info {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-page-top-line {
  width: 100px;
  background-image: url('./../assets/images/wave-icon.svg');
  background-repeat: no-repeat;
  height: 10px;
  background-position: center;
  background-size: 154%;
}

.about-page-top-title {
  color: #ffffff;
  margin-top: 20px;
  font-weight: 700;
  font-size: 45px;
  line-height: 1.24444;
  text-shadow: 0 4px 4px rgba(21, 21, 21, 0.25);
  margin-bottom: 0;
}

.about-page-top-txt {
  margin-top: 26px;
  font-size: 18px;
  line-height: 1.77778;
  text-align: center;
  color: #ffffff;
}

.about-page-tour {
  background-color: #ffffff;
}

.about-page-tours {
  padding-top: 500px;
}

.about-page-tours {
  display: flex;
  justify-content: space-between;
}

.about-page-tours-left {
  width: 50%;
}

.about-page-tours-title {
  max-width: 370px;
  font-size: 30px;
  line-height: 1.33333;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  color: #000000;
}

.about-page-tours-txt {
  font-size: 18px;
  margin-top: 50px;
  line-height: 1.75;
  color: #808080;
}

.about-page-tours-btn {
  margin-top: 40px;
  width: 160px;
  padding: 17px 30px;
  font-size: 15px;
  line-height: 1.5;
  color: #ffffff;
  background-color: #75c15b;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  transition: 250ms all ease-in-out;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #75c15b;
}

.about-page-tours-btn:hover {
  background-color: #ffa133;
  border: 1px solid #ffa133;
}

.about-page-tours-img {
  width: 450px;
  height: 500px;
}

.about-page-advantages {
  margin: 100px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.about-page-advantages-card {
  width: 250px;
}

.about-page-advantages-title {
  font-size: 24px;
  line-height: 1.25;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  color: #000000;
}

.about-page-advantages-title span {
  font-weight: 600;
  color: #75c15b;
  font-size: 24px;
  line-height: 1.25;
  margin-right: 5px;
}

.about-page-advantages-txt {
  color: #353535;
  font-size: 16px;
  line-height: 1.75;
  font-weight: 400;
}

.card-one:before {
  content: '';
  background-image: url('./../assets/images/money-icon.svg');
  background-repeat: no-repeat;
  background-position: left 50%;
  display: inline-block;
  background-size: 40px;
  width: 50px;
  height: 50px;
  transition: 150ms all ease-in-out;
}

.card-two:before {
  content: '';
  background-image: url('./../assets/images/support-icon.svg');
  background-repeat: no-repeat;
  display: inline-block;
  background-position: left 50%;
  background-size: 40px;
  width: 50px;
  height: 50px;
  transition: 150ms all ease-in-out;
}

.card-three:before {
  content: '';
  background-image: url('./../assets/images/safety-icon.svg');
  background-repeat: no-repeat;
  background-position: left 50%;
  display: inline-block;
  background-size: 40px;
  width: 50px;
  height: 50px;
  transition: 150ms all ease-in-out;
}

.card-four:before {
  content: '';
  background-image: url('./../assets/images/sun-icon.svg');
  background-repeat: no-repeat;
  background-position: left 50%;
  display: inline-block;
  background-size: 40px;
  width: 50px;
  height: 50px;
  transition: 150ms all ease-in-out;
}

.card-one:hover:before,
.card-two:hover:before,
.card-three:hover:before,
.card-four:hover:before {
  background-position: left 5%;
}

.about-page-clients {
  background-color: #ffffff;
}

.about-page-clients-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.about-page-clients-title {
  font-size: 30px;
  line-height: 1.33333;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  color: #000000;
}

.about-page-clients-main div {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.75;
  color: #808080;
  margin-bottom: 50px;
}

.about-page-clients-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-page-clients-card {
  width: 44%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  padding: 40px 25px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 9px 28px 0 rgba(0, 0, 0, 0.2);
}

.about-page-clients-card-top {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.about-page-clients-card-img {
  border-radius: 50%;
  max-width: 84px;
}

.about-page-clients-card-title {
  margin-left: 22px;
  font-size: 18px;
  line-height: 1.44444;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  color: #000000;
}

.about-page-clients-card-txt {
  font-size: 18px;
  color: #000000;
  line-height: 1.72222;
  height: 100px;
  margin-bottom: 10px;
}

.about-page-clients-card-date {
  font-size: 18px;
  text-align: right;
  color: rgba(0, 0, 0, 0.4);
}

.about-page-team {
  margin: 100px 0 25px;
  text-align: center;
}

.about-page-team-title {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  color: #000000;
  line-height: 1.33333;
}

.about-page-team-txt {
  margin-top: 20px;
  font-size: 16px;
  color: #808080;
  line-height: 1.75;
}

.about-page-team-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 40px;
}

.about-page-team-card {
  width: 280px;
  border-radius: 4px;
  text-align: center;
  padding-bottom: 20px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.25);
}

.about-page-team-card-img {
  width: 280px;
  height: 200px;
}

.about-page-team-card-position {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.4);
  letter-spacing: 0.03em;
  margin-top: 10px;
  font-size: 18px;
  line-height: 1.44444;
}

.about-page-team-card-title {
  font-weight: 600;
  font-size: 24px;
  margin-top: 5px;
  color: #000000;
  margin-bottom: 8px;
  line-height: 1.25;
}

.about-page-team-card-phone {
  color: #75c15b;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  transition: 150ms all ease-in-out;
  background-image: url('./../assets/images/call-icon.svg');
  background-repeat: no-repeat;
  background-position: left 15% center;
  background-size: 15px;
}

.about-page-team-card-phone:hover {
  color: #000000;
}

.about-page-partners {
  background-color: #fff;
  padding: 100px 0;
}

.about-page-partners-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.about-page-partners-card {
  font-size: 22px;
  transform: translate3d(0, 0, 0);
  opacity: 0.5;
  height: 200px;
  width: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.22s;
  border-radius: 20px;
  overflow: hidden;
}

.about-page-partners-card:hover {
  box-shadow: 0 9px 58px 0 rgba(0, 0, 0, 0.2);
  opacity: inherit;
}
.about-page-partners-card-link{
  text-decoration: none;
  color: #000;
}
.about-page-partners-card-link img{
  width: 100%;
  height: 100%;
}
.about-page-guide {
  margin: 100px 0 50px;
}

.about-page-guide-text-wrap {
  margin-bottom: 40px;
}

.about-page-guide-wrap {
  text-align: center;
}

.about-page-slider-wrap {
  position: relative;
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
  margin: -40px 0;
}

@media (max-width: 930px) {
  .about-page-clients-cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-page-clients-card {
    width: 90%;
    margin-bottom: 30px;
  }

  .about-page-tours {
    flex-direction: column;
  }

  .about-page-tours-left {
    width: 100%;
  }

  .about-page-tours-img-wrap{
    text-align: center;
  }

  .about-page-team-cards {
    justify-content: space-around;
  }

  .about-page-team-card {
    margin-bottom: 30px;
  }
  .about-page-partners-card{
    margin-bottom: 20px;
  }
}

@media (max-width: 470px) {
  .about-page-tours-img {
    width: 100%;
  }

  .about-page-team {
    text-align: center;
  }

  .about-page-team-cards {
    justify-content: center;
  }

  .about-page-partners {
    margin: 60px 0;
  }
}