.one-tour-gallery {
  padding: 100px 0;
}

.one-tour-gallery h2 {
  font-size: 30px;
  line-height: 1.33333;
  font-weight: 400;
}

.one-tour-photos {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.one-tour-photos img {
  width: 250px;
  height: 250px;
}

@media (max-width: 1020px) {
  .one-tour-gallery {
    padding-top: 20px;
  }

  .one-tour-photos {
    justify-content: unset;
  }
}

@media (max-width: 768px) {
  .one-tour-photos img {
    width: 180px;
    height: 180px;
  }
}

@media (max-width: 475px) {
  .one-tour-gallery h2 {
    text-align: center;
  }

  .one-tour-photos {
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
  }
}
