.hot-tours-wrapper {
  width: 100%;
  background-image: url('@/assets/images/hot-tours-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 70px 0 85px;
  position: relative;
  margin-bottom: 100px; /* ToDo: Remove this */
}

.hot-tours-wrapper * {
  outline: none;
}

.hot-tours-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.21)
  );
}

.hot-tours-wrapper-inner {
  display: flex;
  align-items: center;
  gap: 50px;
  position: relative;
  left: -275px;
  z-index: 2;
}

.hot-tours-item {
  display: flex;
  flex-direction: column;
  min-width: 415px;
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden;
  line-height: 1.2;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.05);
}

.hot-tours-item-preview {
  position: relative;
  height: 254px;
  overflow: hidden;
}

.hot-tours-item-preview img {
  width: 100%;
  height: 100%;
  transition: 0.7s;
  object-fit: cover;
  vertical-align: middle;
  transform: scale(1.000001);
}

.hot-tours-item-preview img:hover {
  transform: scale(1.1);
}

.hot-tours-item-badge {
  position: absolute;
  top: 40px;
  left: 40px;
  font-family: 'Montserrat Medium';
  font-weight: 600;
  font-size: 21px;
  padding: 5px 13px;
  border-radius: 5px;
  color: #fff;
  background: #ffa133;
  pointer-events: none;
}

.hot-tours-item-info {
  padding: 25px 17px;
}

.hot-tours-item-title {
  font-family: 'Montserrat Medium';
  font-size: 21px;
  line-height: 1.2;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.hot-tours-item-title-link {
  text-decoration: none;
  color: #000;
  transition: all 0.3s ease-in-out;
}

.hot-tours-item-title-link:hover {
  color: #75c15b;
}

.hot-tours-item-pricing {
  display: flex;
  gap: 25px;
  margin-top: 10px;
}

.hot-tours-item-price {
  font-family: 'Montserrat Medium';
  font-size: 21px;
  font-weight: 600;
  line-height: 1.2;
  margin: 0;
}

.hot-tours-item-price-old {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.2);
}

.hot-tours-item-price-new {
  color: #75c15b;
}

.hot-tours-carousel {
  width: 860px;
  position: relative;
}

.hot-tours-carousel-inner-wrapper {
  overflow: hidden;
}

.hot-tours-carousel-inner {
  transform: translateX(-445px);
}

.hot-tours-carousel-inner-items {
  display: flex;
  gap: 30px;
}

.hot-tours-carousel-buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: absolute;
  top: 50%;
  right: -30px;
  transform: translateY(-50%);
  pointer-events: none;
}

.hot-tours-carousel-buttons button {
  width: 63px;
  height: 63px;
  border: none;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.35);
  pointer-events: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.hot-tours-carousel-buttons button:hover img {
  opacity: 1;
}

.hot-tours-carousel-buttons button img {
  width: 20px;
  height: 16px;
  opacity: 0.4;
  transition: 0.22s;
}

.hot-tours-carousel-buttons-prev {
  transform: rotate(180deg);
}

.hot-tours-info {
  font-family: 'Montserrat Regular';
  color: #fff;
  padding: 0 15px;
  max-width: 480px;
}

.hot-tours-info div {
  display: flex;
  align-items: start;
  gap: 30px;
  margin-right: 400px;
}

.hot-tours-info div h2 {
  font-size: 45px;
  line-height: 1.24444;
  margin: 0;
}

.hot-tours-info div p {
  font-family: 'Baloo Bold';
  font-size: 90px;
  letter-spacing: -0.04em;
  margin: 0;
}

.hot-tours-info h4 {
  font-family: 'Montserrat Medium';
  font-size: 24px;
  font-weight: 500;
  lint-height: 1.7;
  margin: 0;
}
