.guide-page_top {
    position: relative;
    height: 400px;
}

.guide-page_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(80%);
}

.guide-page_top-info {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.guide-page_top-line {
    width: 100px;
    background-image: url('../assets/images/wave-icon.svg');
    background-repeat: no-repeat;
    height: 10px;
    background-position: center;
    background-size: 154%;
}

.guide-page_top-name {
    color: #ffffff;
    margin-top: 20px;
    font-weight: 700;
    font-size: 45px;
    line-height: 1.24444;
    text-shadow: 0 4px 4px rgba(21, 21, 21, 0.25);
    margin-bottom: 0;
}

.one-guide_slider-button {
    display: flex;
    flex-wrap: wrap;
}

.one-guide_slider-btns-btn {
    flex-grow: 1;
    cursor: pointer;
    padding: 28px 0;
    font-size: 18px;
    transition: 0.33s all ease;
    color: #808080;
    text-transform: uppercase;
    background-color: #fff;
    border: 1px solid #c4c4c4;
    border-bottom: 0;
}

.one-guide_slider-btns-btn:hover {
    color: #000000;
}

.one-guide_slider-btns-btn:focus {
    color: #000000;
    background-color: #f6f6f6;
    border: 0;
}

.one-guide_slider-button span {
    position: relative;
    padding-left: 10px;
}

.one-guide_slider-button span:before {
    content: '';
    position: absolute;
    left: -15px;
    display: block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
}

.one-guide_slider-information span:before {
    background-image: url('../assets/images/info-icon.svg');
}

.one-guide_slider-reviews span:before {
    background-image: url('../assets/images/review-icon.svg');
}

.one-guide_slider-tours span:before {
    background-image: url('../assets/images/map-icon.svg');
}