.one-tour-plan {
  padding: 100px 0;
}

.one-tour-plan-list {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.plan-day {
  position: relative;
  cursor: pointer;
}

.plan-day-body {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 60px;
}

.plan-day-body-arrow {
  content: '';
  position: absolute;
  top: 28px;
  left: 15px;
  width: 1px;
  bottom: -60px;
  background: rgba(196, 196, 196, 0.75);
}

.plan-day-title {
  font-size: 24px;
}

.plan-day-description {
  color: #808080;
  overflow: hidden;
  padding-top: 25px;
  max-height: 500px;
  transition: 0.5s;
}

.plan-day-checkbox {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(196, 196, 196, 0.5);
  z-index: 1;
}

.plan-day-checkbox-inner {
  content: '';
  opacity: 0;
  width: 10px;
  height: 10px;
  margin: auto;
  border-radius: 50%;
  background: #75c15b;
  visibility: visible;
  transition: 0.22s;
}

.plan-day-checkbox-checked {
  opacity: 1;
}

.plan-day-description-hidden {
  max-height: 0;
  padding-top: 0;
}
