.one-tour-inner {
  padding-top: 100px;
  padding-right: 40px;
  box-sizing: border-box;
}

.one-tour-inner div {
  box-sizing: border-box;
}

.one-tour-inner h3,
.one-tour-inner div {
  width: 100%;
}

.one-tour-inner-title {
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 1.33333;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  color: #000000;
}

.one-tour-inner-price-wrap {
  display: flex;
  margin-top: 40px;
  font-size: 18px;
  line-height: 1.77778;
  color: #000;
  align-items: center;
}

.one-tour-inner-price {
  font-size: 24px;
  border-radius: 5px;
  padding: 3px 14px;
  line-height: 1.2;
  font-weight: 600;
  letter-spacing: -0.02em;
  color: #ffffff;
  background: #ffa133;
  margin-right: 18px;
}

.one-tour-inner-info {
  margin-top: 35px;
  font-size: 18px;
  border-radius: 4px;
  border: 1px solid rgba(196, 196, 196, 0.75);
  background: #ffffff;
  padding: 15px 25px;
  display: flex;
}

.one-tour-inner-duration {
  color: #000000;
  border-right: 1px solid #c4c4c4;
  padding-left: 26px;
  padding-right: 26px;
  letter-spacing: -0.02em;
}

.one-tour-inner-featur {
  padding-left: 26px;
  padding-right: 26px;
}

.one-tour-inner-txt {
  margin-top: 30px;
  color: #000000;
  font-size: 16px;
  line-height: 1.75;
  font-weight: 400;
  letter-spacing: 1px;
}

.one-tour-inner-table {
  margin-top: 45px;
  caption-side: bottom;
  border-collapse: collapse;
  width: 550px;
}

.one-tour-inner-table tr {
  border-top: 1px solid #c4c4c4;
}

.one-tour-inner-table td {
  padding: 21px 15px;
}

.one-tour-inner-table td:first-child {
  min-width: 110px;
  padding-left: 0;
  font-weight: 600;
  letter-spacing: 0.03em;
  white-space: nowrap;
}

.one-tour-inner-table td:last-child {
  min-width: 300px;
  letter-spacing: 2px;
}

.one-tour-inner-table tr:last-child {
  border-bottom: 1px solid #c4c4c4;
}

.one-tour-inner-table-list {
  list-style: none;
  padding: 0;
}

.one-tour-inner-gallery {
  margin-top: 80px;
  margin-bottom: 100px;
}

.one-tour-inner-gallery h3 {
  font-size: 30px;
  line-height: 1.33333;
  margin-top: 0;
  font-weight: 500;
  margin-bottom: 30px;
  color: #000000;
}

.one-tour-inner-gallery2 {
  display: flex;
  gap: 50px;
}

.one-tour-inner-photo {
  width: 250px;
  height: 250px;
}
