.page-loader-block {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  z-index: 20;
  height: 0;
  background: #f6f6f6;
  overflow: hidden;
  width: 100%;
  animation: preloaderFade 1.7s ease-in-out;
}

.bg {
  background: #9f681a;
}

.page-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-bottom: 60px;
  animation: compassScale 1.7s infinite;
}

.page-loader-inner {
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 50%;
  transform: rotate(45deg);
}

.compass-direction-cover:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20px;
  height: 40px;
  background: #e23700;
  transform: skew(5deg, 60deg) translate(-50%, -5%);
  z-index: 2;
}

.compass-direction-cover:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.compass-direction {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 3.6%;
  left: 49.5%;
  transform: translate(-50%, -50%);
  width: 1px;
  height: 93px;
  background: black;
  font-size: 10px;
}

.compass-direction-cover {
  display: inline-block;
  position: absolute;
  width: 83px;
  height: 83px;
  top: 8.5%;
  left: 8.5%;
  border-radius: 50%;
  animation: rotate 1.25s ease infinite;
}

.compass-direction:nth-child(1) {
  transform: rotate(0deg);
}

.compass-direction:nth-child(2) {
  transform: rotate(22.5deg);
}

.compass-direction:nth-child(3) {
  transform: rotate(225deg);
  background: transparent;
  z-index: 2;
  top: 7%;
  left: 48%;
  height: 95px;
}

.compass-direction:nth-child(3) span:nth-child(1),
.compass-direction:nth-child(3) span:nth-child(2) {
  transform: rotate(90deg);
}

.compass-direction:nth-child(4) {
  transform: rotate(67.5deg);
}

.compass-direction:nth-child(5) {
  transform: rotate(90deg);
}

.compass-direction:nth-child(6) {
  transform: rotate(112.5deg);
}

.compass-direction:nth-child(7) {
  transform: rotate(315deg);
  background: transparent;
  z-index: 2;
  top: 5%;
  left: 48%;
  height: 95px;
}

.compass-direction:nth-child(8) {
  transform: rotate(157.5deg);
}

@keyframes rotate {
  0% {
    transform: rotate(-60deg);
  }
  50% {
    transform: rotate(-340deg);
  }
  100% {
    transform: rotate(-60deg);
  }
}

@keyframes preloaderFade {
  0% {
    height: 100%;
    opacity: 1;
  }
  83% {
    height: 100%;
    opacity: 1;
  }
  90% {
    height: 100%;
    opacity: 0;
  }
  100% {
    height: 0;
    opacity: 0;
  }
}

@keyframes compassScale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
