.form-tour {
    border-radius: 7px;
    background: #ffffff;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05);
    color: #000;
    border-color: transparent;
    min-height: 20vh;
    border-style: solid;
    border-width: 1px;
    padding: 20px 10px;
    margin: 0 auto;
    width: 800px;
}

.form-tour-title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: lighter;
}

.input-tour-wrap {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
}

.btn-tour-wrap {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
}

.form-tour-label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
    font-size: 15px;
    color: #000;
}

.form-tour-control {
    padding: 10px 5px;
    width: 100%;
    border: 2px solid #bbc6f5;
    font-size: 16px;
    margin-bottom: 20px;
}

.form-tour-control:focus {
    outline: none;
}

.form-tour-control-error {
    padding: 10px 5px;
    width: 100%;
    border: 1px solid #f23637;
    margin-bottom: 20px;
}

.form-tour-control-error:focus {
    outline: #f23637;
}

.error-tour {
    color: #f23637;
    font-size: 12px;
    margin-bottom: 5px;
    display: block;
    font-weight: lighter;
    letter-spacing: 2px;
}

.form-tour-btn {
    background: #75c15b;
    border: none;
    margin: 0 auto;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    width: 100%;
    transition: all 0.2s;
}

.form-tour-btn:hover,
.form-tour-btn:focus {
    color: #fff;
    background-color: #ffa133;
}

@media (max-width: 1000px) {
    .form-tour {
        width: 80%;
    }
}

@media (max-width: 800px) {
    .form-tour {
        width: 70%;
    }
}

@media (max-width: 600px) {
    .form-tour {
        width: 90%;
    }
}

@media (max-width: 500px) {
    .form-tour {
        width: 80%;
    }
}

@media (max-width: 300px) {
    .form-tour {
        width: 90%;
    }
}

.form-tour-btn-add {
    background: #2f55f1;
    border: 1px solid transparent;
    margin: 10px auto;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    width: 100%;
    transition: all 0.2s;
}

.form-tour-btn-add:hover,
.form-tour-btn-add:focus {
    color: #000f56;
    background-color: #fff;
    border: 1px solid #2f55f1;
}

.tour-btn-remove {
    margin: auto 0;
    border: none;
    background: none;
    color: #7e0000;
    font-size: 40px;
}

.form-tour-center {
    margin: auto 0;
}

.tour-btn-remove:hover {
    cursor: pointer;
}

.form-tour-plan {
    display: flex;
    margin: 10px 0;
    border-bottom: 1px solid #ccc;
}

.btn-remove-plan {
    margin-left: auto;
}
