.tour-item {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin-right: 20px;
  margin-bottom: 50px;
  border-radius: 5px;
  overflow: hidden;
  text-decoration: none;
}

.tour-item-top {
  position: relative;
  height: 230px;
}
.tour-item-img {
  width: 350px;
  height: 230px;
  transition: 0.2s;
}
.tour-item:hover .tour-item-img {
  filter: brightness(80%);
}
.tour-item-price {
  position: absolute;
  z-index: 2;
  left: 30px;
  bottom: 0;
  display: inline-flex;
  align-items: flex-end;
  padding: 5px 10px;
  background: #75c15b;
  color: #fff;
  border-radius: 5px 5px 0 0;
}

.tour-item-bottom {
  background-color: #fff;
  padding: 34px 20px 20px 25px;
  display: flex;
  flex-direction: column;
}

.tour-item-title {
  text-decoration: none;
  color: #000;
  font-size: 24px;
  height: 80px;
  line-height: 1.25;
  margin: 0;
  font-weight: 500;
  transition: 0.2s;
}
.tour-item:hover .tour-item-title {
  color: #75c15b;
}
.tour-item-country {
  font-size: 18px;
  color: #808080;
}

.tour-item-info {
  display: flex;
}

.tour-item-duration {
  margin-left: auto;
  color: #808080;
  padding-left: 25px;
  background-image: url('../assets/images/calendar-icon.svg');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
}
.tour-item-links {
  text-decoration: none;
}

.buttons-tour {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.btn-tour-edit {
  background: #297a0d;
  border: 1px solid transparent;
  margin: 0 auto;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
  border-radius: 8px;
  text-decoration: none;
}

.btn-delete-tour {
  background: #8c0404;
  margin: 0 auto;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
  border-radius: 8px;
  text-decoration: none;
  border: 1px solid transparent;
}

.btn-tour-edit:hover {
  background: #fff;
  color: #297a0d;
  border: 1px solid #297a0d;
}

.btn-delete-tour:hover {
  background: #fff;
  color: #8c0404;
  border: 1px solid #8c0404;
}

.btn-tour-edit:active {
  box-shadow: 1px 1px 5px #297a0d;
}

.btn-delete-tour:active {
  box-shadow: 1px 1px 5px #8c0404;
}

