.page-loader {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 1;
  padding-bottom: 60px;
  background-color: white;
  background-image: url('../../assets/images/placeholder-bg.png');
  background-size: 180px;
  animation: backgroundMove 2.5s ease infinite;
}

.page-loader-enabled {
  display: flex;
}

.page-loader-inner {
  width: 75px;
  height: 75px;
  position: relative;
  background: #5e85aa;
  border-radius: 50%;
  transform: rotate(45deg);
  animation: rotate 1.25s ease infinite;
}

.page-loader-inner:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 15px;
  height: 30px;
  background: #ff5c28;
  transform: skew(5deg, 60deg) translate(-50%, -5%);
}

.page-loader-inner:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  transform: translate(-50%, -50%);
}

@keyframes rotate {
  0% {
    transform: rotate(60deg);
  }
  50% {
    transform: rotate(340deg);
  }
  100% {
    transform: rotate(60deg);
  }
}

@keyframes backgroundMove {
  0% {
    background-position: -7px -50px;
  }
  25% {
    background-position: -65px 20px;
  }
  50% {
    background-position: -5px 85px;
  }
  75% {
    background-position: 65px 20px;
  }
  100% {
    /*background-position: 0 200px;*/
    background-position: -7px -50px;
  }
  /*75% {*/
  /*  background-position: -50px 250px;*/
  /*}*/
  /*100% {*/
  /*  background-position: 0;*/
  /*}*/
  /*50% {*/
  /*  background-position: 0 100px;*/
  /*}*/
  /*75% {*/
  /*  background-position: -50px 0;*/
  /*}*/
  /*100% {*/
  /*  background-position: 0 -50px;*/
  /*}*/
}
