body {
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  height: 100%;
  background-color: #f6f6f6;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

main {
  position: relative;
}

.form-block {
  padding-top: 100px;
}

.form {
  border-radius: 7px;
  background: #ffffff;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05);
  color: #000;
  border-color: transparent;
  width: 500px;
  min-height: 20vh;
  border-style: solid;
  border-width: 1px;
  padding: 20px 10px;
  margin: 0 auto;
}

.form-title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: lighter;
}

.input-wrap {
  width: 480px;
}

.google-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.btn-wrap {
  width: 480px;
}

.form-label {
  display: block;
  margin-bottom: 10px;
  text-align: left;
  font-size: 15px;
  color: #000;
}

.form-control {
  padding: 10px 5px;
  width: 100%;
  border: 2px solid #f8f9fa;
  font-size: 16px;
  margin-bottom: 20px;
}

.form-control:focus {
  outline: none;
}

.form-control-error {
  padding: 10px 5px;
  width: 100%;
  border: 1px solid #f23637;
  margin-bottom: 20px;
}

.form-control-error:focus {
  outline: #f23637;
}

.error {
  color: #f23637;
  font-size: 12px;
  margin-bottom: 5px;
  display: block;
  font-weight: lighter;
  letter-spacing: 2px;
}

.form-btn {
  background: #75c15b;
  border: none;
  margin: 0 auto;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
  width: 100%;
  transition: all 0.2s;
}

.form-btn:hover,
.form-btn:focus {
  color: #fff;
  background-color: #ffa133;
}
