@font-face {
  font-family: "Montserrat Regular";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat Medium";
  font-style: normal;
  font-weight: 500;
  src: url("assets/fonts/Montserrat-Medium.ttf");
}
