.one-tour-top {
  position: relative;
}

.one-tour-img {
  position: absolute;
  top: -60px;
  width: 100%;
  height: 500px;
  filter: brightness(85%);
}

.one-tour-top-info {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.one-tour-top-line {
  width: 100px;
  background-image: url('../../assets/images/wave-icon.svg');
  background-repeat: no-repeat;
  height: 10px;
  background-position: center;
  background-size: 87%;
}

.one-tour-top-title {
  color: #ffffff;
  margin-top: 20px;
  font-weight: 700;
  font-size: 45px;
  line-height: 1.24444;
  text-shadow: 0 4px 4px rgba(21, 21, 21, 0.25);
  margin-bottom: 0;
}

.one-tour-btns {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.one-tour-btn-two,
.one-tour-btn-one {
  padding: 10px 23px;
  font-size: 13px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  line-height: 1.3;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 250ms all ease-in-out;
  border-radius: 4px;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  width: 200px;
}

.one-tour-btn-two:hover,
.one-tour-btn-one:hover {
  background-color: #ffa133;
  border: 1px solid #ffa133;
}

.one-tour-btn-one {
  margin-right: 20px;
}

.one-tour-btn-one {
  background-image: url('../../assets/images/play-icon.svg');
  background-repeat: no-repeat;
  background-size: 10%;
  background-position: 10% center;
}

.one-tour-btn-two {
  background-image: url('../../assets/images/photo-icon2.svg');
  background-repeat: no-repeat;
  background-size: 10%;
  background-position: 13% center;
}

.one-tour-slider-btns {
  padding-top: 410px;
  display: flex;
  flex-wrap: wrap;
}

.one-tour-slider-btns button {
  flex-grow: 1;
  cursor: pointer;
  padding: 28px 30px;
  font-size: 18px;
  transition: 0.33s all ease;
  color: #808080;
  text-transform: uppercase;
  background-color: #fff;
  border: 1px solid #c4c4c4;
  border-bottom: 0;
}

.one-tour-slider-btns button:hover {
  color: #000000;
}

.one-tour-slider-btns button:focus {
  color: #000000;
  background-color: #f6f6f6;
  border: 0;
}

.one-tour-slider-info {
  background-image: url('../../assets/images/info-icon.svg');
  background-repeat: no-repeat;
  background-size: 10%;
  background-position: 17% center;
}

.one-tour-slider-plan {
  background-image: url('../../assets/images/map-icon.svg');
  background-repeat: no-repeat;
  background-size: 10%;
  background-position: 20% center;
}

.one-tour-slider-location {
  background-image: url('../../assets/images/location-icon.svg');
  background-repeat: no-repeat;
  background-size: 10%;
  background-position: 23% center;
}

.one-tour-slider-gallery {
  background-image: url('../../assets/images/photo-icon.svg');
  background-repeat: no-repeat;
  background-size: 10%;
  background-position: 23% center;
}

.one-tour-slider-reviews {
  background-image: url('../../assets/images/review-icon.svg');
  background-repeat: no-repeat;
  background-size: 10%;
  background-position: 21% center;
}

.one-tour-inner {
  padding-top: 100px;
  width: 750px;
}

.one-tour-inner-title {
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 1.33333;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  color: #000000;
}

.one-tour-inner-price-wrap {
  display: flex;
  margin-top: 40px;
  font-size: 18px;
  line-height: 1.77778;
  color: #000;
  align-items: center;
}

.one-tour-inner-price {
  font-size: 24px;
  border-radius: 5px;
  padding: 3px 14px;
  line-height: 1.2;
  font-weight: 600;
  letter-spacing: -0.02em;
  color: #ffffff;
  background: #ffa133;
  margin-right: 18px;
}

.one-tour-inner-info {
  margin-top: 35px;
  font-size: 18px;
  border-radius: 4px;
  border: 1px solid rgba(196, 196, 196, 0.75);
  background: #ffffff;
  padding: 15px 25px;
  display: flex;
}

.one-tour-inner-duration {
  color: #000000;
  border-right: 1px solid #c4c4c4;
  padding-left: 26px;
  padding-right: 26px;
  letter-spacing: -0.02em;
}

.one-tour-inner-featur {
  padding-left: 26px;
  padding-right: 26px;
}

.one-tour-inner-txt {
  margin-top: 30px;
  color: #000000;
  font-size: 16px;
  line-height: 1.75;
  font-weight: 400;
  letter-spacing: 1px;
}

.one-tour-inner-table {
  margin-top: 45px;
  caption-side: bottom;
  border-collapse: collapse;
  width: 550px;
}

.one-tour-inner-table tr {
  border-top: 1px solid #c4c4c4;
}

.one-tour-inner-table td {
  padding: 21px 15px;
}

.one-tour-inner-table td:first-child {
  min-width: 110px;
  padding-left: 0;
  font-weight: 600;
  letter-spacing: 0.03em;
  white-space: nowrap;
}

.one-tour-inner-table td:last-child {
  min-width: 300px;
  letter-spacing: 2px;
}

.one-tour-inner-table tr:last-child {
  border-bottom: 1px solid #c4c4c4;
}

.one-tour-inner-table-list {
  list-style: none;
  padding: 0;
}

.one-tour-inner-gallery {
  margin-top: 80px;
  margin-bottom: 100px;
}

.one-tour-inner-gallery h3 {
  font-size: 30px;
  line-height: 1.33333;
  margin-top: 0;
  font-weight: 500;
  margin-bottom: 30px;
  color: #000000;
}

.one-tour-inner-gallery2 {
  display: flex;
}

.one-tour-inner-photo {
  margin-right: 50px;
  width: 250px;
  height: 250px;
}
